@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
.Navbar {
  font-size: large;
  font-weight: bolder;
  display: flex;
}
.Navlink {
  font-family: Runik;
  font-style: normal;
  font-weight: bolder;
  margin-left: 5rem;
}
.Navigation {
  position: fixed;
  display: block;
  width: 100%;
}
