@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");

.Working {
    background-color: #eff8ff;
    display:flow-root;
    position: relative;
    height: 95vh;
}

.Working-cards {
  
  
  align-items :flex-start;
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
  padding: 0 5%;
}

.Working h1 {
  padding: 5% 0 0 0;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 5%;
  color:  rgb(32,56,5);
  
}
